<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false" throwExceptions="true">

  <variable name="logDirectory" value="${basedir}/Log"/>

  <targets>

    <target name="AWf" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logDirectory}/${shortdate}.csv">
          <layout xsi:type="CsvLayout">
            <column name="time" layout="${longdate}" />
            <column name="logger" layout="${logger}" />
            <!-- (2013/12/12 Dekker500) There is a bug in NLog 
                 at present that prevents callsite from being accurate.
                 ETA is slated for a release after 2.1 -->
            <column name="callsite" layout="${callsite}" />
            <column name="threadid" layout="${threadid}"/>
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${message}"/>
            <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
          </layout>
        </target>
      </target>
    </target>

    <target name="AWf_lang" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logDirectory}/language_${shortdate}.csv">
          <layout xsi:type="CsvLayout">
            <column name="time" layout="${longdate}" />
            <column name="logger" layout="${logger}" />
            <!-- (2013/12/12 Dekker500) There is a bug in NLog 
                 at present that prevents callsite from being accurate.
                 ETA is slated for a release after 2.1 -->
            <column name="callsite" layout="${callsite}" />
            <column name="threadid" layout="${threadid}"/>
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${message}"/>
            <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
          </layout>
        </target>
      </target>
    </target>

    <target name="AWf_help" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logDirectory}/help_${shortdate}.csv">
          <layout xsi:type="CsvLayout">
            <column name="time" layout="${longdate}" />
            <column name="logger" layout="${logger}" />
            <!-- (2013/12/12 Dekker500) There is a bug in NLog 
                 at present that prevents callsite from being accurate.
                 ETA is slated for a release after 2.1 -->
            <column name="callsite" layout="${callsite}" />
            <column name="threadid" layout="${threadid}"/>
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${message}"/>
            <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
          </layout>
        </target>
      </target>
    </target>

    <target xsi:type="OutputDebugString" name="ImmediateWindow">
      <layout xsi:type="CsvLayout">
        <delimiter>Tab</delimiter>
        <withHeader>false</withHeader>
        <quoting>Nothing</quoting>

        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}" />
        <column name="callsite" layout="${callsite}" />
        <!-- (2013/12/12 Dekker500) There is a bug in NLog 
                 at present that prevents callsite from being accurate.
                 ETA is slated for a release after 2.1 -->
        <column name="threadid" layout="${threadid}"/>
        <column name="level" layout="${uppercase:${level}}"/>
        <column name="message" layout="${message}&#xD;"/>
        <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
      </layout>
    </target >

    <target xsi:type="Debugger" name="VSDebugger">
      <layout xsi:type="CsvLayout">
        <delimiter>Tab</delimiter>
        <withHeader>false</withHeader>
        <quoting>Nothing</quoting>

        <column name="time" layout="${longdate}" />
        <column name="logger" layout="${logger}" />
        <column name="callsite" layout="${callsite}" />
        <!-- (2013/12/12 Dekker500) There is a bug in NLog 
                 at present that prevents callsite from being accurate.
                 ETA is slated for a release after 2.1 -->
        <column name="threadid" layout="${threadid}"/>
        <column name="level" layout="${uppercase:${level}}"/>
        <column name="message" layout="${message}"/>
        <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,stacktrace:separator=*}}"/>
      </layout>
    </target >

  </targets>

  <rules>
    <!-- final="true" means that the other loggers will not be invoked. Used to avoid to log all strings to debugger-->
    <logger name="LanguageString" minlevel="Error" writeTo="AWf_lang" final="true" />
    <logger name="HelpString" minlevel="Error" writeTo="AWf_help" final="true"/>
    <!-- all non-error LanguageString and HelpString will be ignored-->
    <logger name="LanguageString" minlevel="Trace" final="true" />
    <logger name="HelpString" minlevel="Trace" final="true"/>
    <!-- Removed as we use VSDebugger
    <logger name="*" minlevel="Trace" writeTo="ImmediateWindow" />
    -->
    <logger name="*" minlevel="Trace" writeTo="AWf" />
    <logger name="*" minlevel="Trace" writeTo="VSDebugger" />
  </rules>
</nlog>