<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false">

  <variable name="logDirectory" value="${basedir}/Log"/>

  <targets>

    <target name="AWf" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logDirectory}/${shortdate}.csv">
          <layout xsi:type="CSVLayout">
            <column name="time" layout="${longdate}" />
            <column name="callsite" layout="${callsite}" />
            <column name="threadid" layout="${threadid}"/>
            <column name="level" layout="${uppercase:${level}}"/>
            <column name="message" layout="${message}"/>
          </layout>
        </target>
      </target>
    </target>

    <target xsi:type="OutputDebugString" name="ImmediateWindow">
      <layout xsi:type="CSVLayout">
        <delimiter>Tab</delimiter>
        <withHeader>False</withHeader>
        <quoting>Nothing</quoting>

        <column name="time" layout="${longdate}" />
        <column name="callsite" layout="${callsite}" />
        <column name="threadid" layout="${threadid}"/>
        <column name="level" layout="${uppercase:${level}}"/>
        <column name="message" layout="${message}&#xD;"/>
      </layout>
    </target >

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ImmediateWindow" />
    <logger name="*" minlevel="Debug" writeTo="AWf" />
  </rules>
</nlog>